{% extends 'web/base_template.html' %}
{% block content %}
{% load static %}
<section class="login_bg">
	<div class="loginAG">
	<div class="login_width">
	<div class="leftside-login">
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
           <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{ error|escape }}</strong> 
                    </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{ error|escape }}</strong> 
                    </div>

    {% endfor %}
{% else %}

<span>
	<img src='{% static "web/images/cricle-box.jpg" %}'  alt="">
	</span>
	<div class="login-logo">
	<h1><a href="index.php">Video <span>Submission App</span></a></h1>
	</div>
{% endif %}

	

	
	</div>

<div class="container">
	<div class="row">
	<div class="col-md-8 offset-md-2 p-t-b-40 ">
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div>
</div>
</div>
	</div>
	</div>
	</section>

	{% endblock %}
  {% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
		$("#id_email").attr("placeholder", "Email");
		
     $("input").each(function(){
     	$(this).addClass('form-control');
     });
	});
	</script>
	  {% endblock %}