{% extends 'web/base_template.html' %}
 {% block cssstyle %}
 <link href="https://vjs.zencdn.net/7.7.6/video-js.css" rel="stylesheet" />
 <style type="text/css">
      .modal-dialog-full-width {
width: 76.5% !important;
    height: 100% !important;
    
    padding: 0 !important;
    max-width: none !important;

    }

</style>
   {% endblock %}

{% block content %}



{% load static %}
<div class="our-collection">
<div class="container">
    <div class="d-flex" style="
    justify-content: space-between;
">
<h1>Submit Your Video

</h1>
<!--<div class="short-list">
Select Category: <div class="select-custom">
    <select name="orderby" class="form-control">
                  <option value="menu_order" selected="selected">Singing</option>
                 <option value="latest">Modeling</option>
                <option value="date">Dancing</option>
                <option value="mosted rated">Comedy</option>
                <option value="popular">Acting</option>
                <option value="popular">Spoken Word</option>
               
                                        </select>
                                    </div>
        </div>-->
</div>
</div>

</div>
<section class="light-gray design-process-section" id="process-tab">
<div class="container">
<!--   {{set_upload_status}}
  {{my_uploaded_videos}} -->


  {% if set_upload_status  %}
  <h1>Your upload limit is end. You can upload only '{{upload_limit}}' according to your current subscription.</h1>
  {% else %}

    <div class="row">
      <div class="col-xs-12"> 
        <!-- design process steps--> 
        <!-- Nav tabs -->
        <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
          <li role="presentation" class="active stap_1"><a href="" class="refress_page"  data-url="{% url 'videos:add_videos' %}" aria-controls="discover" role="tab" data-toggle="tab"><i class="fa fa-play"></i>
            <p>Upload Video</p>
            </a></li>
          <li role="presentation" class="stap_2"><a href="#strategy" aria-controls="strategy" role="tab" data-toggle="tab"><i class="fa fa-newspaper-o" aria-hidden="true"></i>

<p>Add Details</p> </a></li>
          <li role="presentation" class="stap_3"><a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab"><i class="fa fa-check" aria-hidden="true"></i>
            <p>Submit Video</p>
            </a></li>
          
        </ul>
        <!-- end design process steps--> 
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel " class="tab-pane stap_1_tab active" id="discover">
            <div class="design-process-content">
              <form action="{% url 'videos:add_videos' %}" id="submit_videos" method="POST" enctype="multipart/form-data">
   
     <input type="hidden" name="url" id="submit_url" value="{% url 'videos:add_videos' %}">
          <div class="form-group">
           
            <div class="preview-zone hidden">
              <div class="box box-solid">
                <div class="box-header with-border">
                  <div class="btn btn" style="background-color: #48c5b5;color: #fff;"><b>Video Attached Successfully</b></div>
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-danger btn remove-preview">
                      <i class="fa fa-times"></i> Remove Attachment.
                    </button>
                  </div>
                </div>
                <!-- <div class="box-body"></div> -->
              </div>
            </div>
            <div class="dropzone-wrapper">
              <div class="dropzone-desc">
                <img src='{% static "web/images/upload-icon.png" %}'  />
                <h3>Select Video files to upload</h3>
				<p>Or Drag and drop video files</p>
              </div>
              <input type="file" required="" accept=".mp4, .webm,"   id="videos_data_upload"  name="img_logo" class="dropzone">
            </div>
          </div>
      

     
        <div class="col-md-12 text-center video_submit_button_dsp hidden">
          <button type="submit" class="btn_upload  set_status_for_submit_btn">UPLOAD VIDEO</button>
       
      </div>
  
  </form>
             </div>
          </div>
          <div role="tabpanel " class="tab-pane stap_2_tab" id="strategy">
            <div class="design-process-content">
             <div class="row">
              <div class="col-md-3">&nbsp;</div>
               <div class="col-md-6" >
                <a href="{{request.build_absolute_uri}}"><button class="btn btn-danger btn-block"><i class="fa fa-times"></i> Remove - Start Over</button></a>
                 <video
                    id="my-video"
                    class="video-js vjs-big-play-centered show_videos_data"
                    controls
                    data-setup="{}"
                    style="height: auto !important;"
                  >
                    <source src="{{object.Video.url}}" type="video/mp4" />
                    <p class="vjs-no-js">
                      To view this video please enable JavaScript, and consider upgrading to a
                      web browser that
                      <a href="https://videojs.com/html5-video-support/" target="_blank"
                        >supports HTML5 video</a
                      >
                    </p>
                  </video>
               </div>
             </div>
			  <form action="#" id="submit_video_ditales" method="post">
          <input type="hidden" name="video_id" id="video_id_set" value="">
          <input type="hidden" name="" id="video_info_submit_update_form_url" value="{% url 'videos:add_video_info' %}">
			  <div class="row givevideo">
			  
        <div class="col-md-9">
          <div class="col-md-6">
        <div class="form-group">
        <label>Give Your Video a Category</label>
       <select class="form-control" id="select_category" data-url="{% url 'videos:get_sub_category' %}" required="" name="categorys">
       <option>Select Category</option>
       {% if category %}
       {% for items in category %}
       <option value="{{items.id}}">{{items}}</option>
       {% endfor %}
       {% endif %}
       </select>
        </div>
        </div>

        <div class="col-md-6" id="show_sub_cate" style="display: none;">

        <div class="form-group">
        <label>Give Your Video a Sub Category</label>
       <select class="form-control" id="select_sub_category"  name="sub_categorys">
        <option value="">Select sub category</option>
       </select>
        </div>
        </div>
 <div class="col-md-12">
        <div class="form-group">
        <label>Give Your Video A Title</label>
       <input type="text" class="form-control" required="" placeholder="Vdeo Title" name="video_name" />
        </div>
        </div>
        </div>
        <div class="col-md-3">
          <label>Video Thumbnail</label>
          <div id="set_crope_image_data">
          <img style="width:100%; height: 95px;"  src='{% static "web/images/video_thuim.png" %}'>  
          </div>
          
            <div class="form-group">
              <input type="hidden" name="thumbnail"  id="set_videos_thumbnail">
             <input type="file"  accept=".png, .jpg, .jpeg"  required="" class="form-control" id="get_videos_thumbnail" />
             <span style="color:red; font-size: 19px;" id="show_error_message"></span>
          </div>
        </div>

			  
			  
			  
	
      
          
    
			 
			   <div class="col-md-12">
			  <div class="form-group">
			  <label>Discribe your Video</label>
			 <textarea class="form-control" required="" id="summernote" name="description"></textarea>
			  </div>
			  </div>
        <div class="col-md-6 hidden">
            <div class="form-group">
              <label>Meta Title</label>
             <input type="text" placeholder="Meta Title"   class="form-control" name="meta_title" />
              </div>
          </div>
          <div class="col-md-6 hidden">
            <div class="form-group">
              <label>Meta Kayword</label>
             <input type="text" placeholder="Meta keyword" class="form-control" name="meta_keyword" />
              </div>
          </div>
          <div class="col-md-12 hidden">
        <div class="form-group">
        <label>Meta Description</label>
       <textarea class="form-control" placeholder="Meta Description" name="meta_description"></textarea>
        </div>
        </div>
			  <div class="col-md-12 text-right">
          <button type="submit" class="btn_upload">Submit</button>
       
      </div>
			  
			  </div>

      </form>


              </div>
          </div>
          <div role="tabpanel" class="tab-pane stap_3_tab" id="optimization">
            <div class="design-process-content">
              <div class="submited_video">
			  <div class="textbox_c">
			  <div class="criclebox-logo">
			  {{"menu"|show_logo}}
			  </div>
			  <p>Your <span>Video</span> Submitted Successfully.</p>
			  </div>
			  
			  </div>
			  
			  
               </div>
          </div>
          
      </div>
    </div>
  </div>
{% endif %}

</div>

</section>



<!-- Modal -->
<div id="myModal_upload_videos_progress" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-body text-center">
        <p>Your video is uploading please do not refresh the page.</p>
        <div class="progress">
        <div class="progress-bar" id="progressBar" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width:0%">
          0%
        </div>
      </div>
      </div>
     
    </div>

  </div>
</div>








<!--  -->

<div id="uploadimageModal_edit" class="modal" role="dialog" style="margin-top:-3%; ">
   <div class="modal-dialog-full-width modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <button class="btn btn-success crop_image_edit">Crop & Save Image</button>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-8 text-center">
                  <div id="image_demo_edit" style="width:350px;"></div>
               </div>
              
              <button class="btn btn-success crop_image_edit">Crop & Save Image</button>
            </div>
         </div>
      </div>
   </div>
</div>





	  {% endblock %}


          {% block script %}
 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
             <script src='{% static "web/js/upload_videos.js" %}' ></script>
             <script src='{% static "web/cropme/croppie_videos_thumbnail.js" %}' ></script>
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<script src="https://vjs.zencdn.net/7.7.6/video.js"></script>




             <script type="text/javascript">

var player  = videojs("my-video",{
    fluid:true,
    aspectRation:'4:3',
    playbackRates: [0.25,0.5,1,1.5,2],
    loop:true,
    userActions:{
      hotkeys:true
    }
  });

               $(document).on("click",".refress_page",function(){
                  
                   window.location.href=$(this).data("url");
               });
             </script>
      {% endblock %}
