<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  
{{"menu"|show_logo_and_title}}
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <meta name="title" content="{{object.Meta_Title}}" />
  <meta name="keywords" content="{{object.Meta_keyword}}" />
  <meta name="description" content="{{object.Meta_description}}" />

  <!--<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='{% static "web/css/intlTelInput.css" %}'>
  <link rel="stylesheet" href='{% static "web/css/bootstrap.min.css" %}' >
  <link rel="stylesheet" href='{% static "web/css/style.css" %}'>
  <link rel="stylesheet" href='{% static "web/css/step.css" %}'>
  <link rel="stylesheet" href='{% static "web/css/responsive.css" %}' >
  <link rel="stylesheet" href='{% static "web/cropme/croppie.css" %}'  type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
  <style type="text/css">
  .ty-search-controll {
    z-index: 100;
    position: relative;
	}
  
  
    .se-pre-con {
   display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  background: url({% static "web/images/loader3.gif" %}) center no-repeat rgba(0,0,0,0.5);
}



ol.mp_list {
    margin-top: 45px !important;
    background-color: #FFFFFF;
    color: #000000 !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    z-index: 1;
    padding-left: 0px;
    text-align: left;
    top: -25px;
    text-transform: capitalize;
    border-radius: 0;
    padding-top: 15px;
}

  ol.mp_list {
    margin-top: 45px !important;
    background-color: #FFFFFF;
    color: #000000 !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    z-index: 1 !important;
    padding-left: 0px;
    text-align: left;
    top: -25px;
    text-transform: capitalize;
    border-radius: 0;
    padding-top: 15px;
}
  
   ol.mp_list li {
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 30px;
    list-style-type: none; font-style:normal;}
	
    ol.mp_list li.mp_item {
    width: 100%;
}


 ol.mp_list li.mp_selectable { cursor: pointer; } /* Currently highlighted list item. */ ol.mp_list li.mp_highlighted { background-color: #f7f7f7; width: 100%; } /* When a request is made that returns zero results. */ ol.mp_list li.mp_no_results { } /* When a request is made that doesn't meet the 'minChars' length option. */ ol.mp_list li.mp_min_chars { } /* When a request is made that fails during the ajax request. */ ol.mp_list li.mp_error { }
    .dsp_set_height{
height: 269px;    
}


@media (min-width: 992px){
.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {
    height: 475px !important;
	padding-top: 0px !important;
}
.my-video-dimensions {
  
    height: 477px !important;
}
.se-pre-con {

    background-size: 30px;
}
  </style>
   {% block cssstyle %}
   {% endblock %}
</head>
<body>
    <div class="se-pre-con"></div>
<div class="wrapper">
<nav class="nav-main" id="nav-main">
    <div class="top">
        <div class="header">
            <div class="pull-left">
                <span class="link-1 js-nav-menu">
                    English
                </span>
                
            </div>
            <div class="pull-right">
                <div class="bt-close js-close-menu text-uppercase">close</div>
            </div>
        </div>
        <ul class="menu active"id="menu-main">
            
<li><a href="{% url 'home:home' %}" class="item"><i class="fa fa-home" ></i> Home</a></li>
            <li class="active">
              {% if user.username == ""  %}
              <a href="{% url 'account:login' %}" class="item"><i class="fa fa-user-o"></i> Register/Login</a>
              
              {% else %}

               <a href="{% url 'profiles:profile' %}" class="item"><i class="fa fa-user-o"></i> {{user.username}}</a>
              {% endif %}

            </li>
            
             
            <li><a href="{% url 'search:search' %}" class="item"> <i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
            
            {% if user.username == '' %}
            <li class="directory"><a href="{% url 'videos:add_videos' %}" class="item"><i class="fa fa-video-camera"></i> Submit Your Video</a></li>
            {% else %}
            
             <li class="directory"><a href="{% url 'videos:add_videos' %}" class="item"><i class="fa fa-video-camera"></i> Submit Your Video</a></li>

            {% endif %}
            <!-- <li class="jobs"><a href="{% url 'my_videos:my_videos' %}" class="item"><i class="fa fa-user"></i> Our Collection</a></li> -->
            <li class="directory"><a href="{% url 'subscription:subscription' %}" class="item"><i class="fa fa-youtube-play" aria-hidden="true"></i>Subscription</a></li>

             {{"dummt_data"|get_page_link_sidebar}}
   
    
			
            {% if user.username != ""  %}
            <li><a href="{% url 'account:logout' %}" class="item"><i class="fa fa-power-off"></i>Logout</a></li>
            {% endif %}

        </ul>
		
		<ul class="socialicon">
		<!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
		{{"menu"|get_social_link}}
		</ul>
        
    </div>
        
    </nav>

<div class="header">
<div class="leftmenu">
<div class="menubar"><span class="js-nav-main">
<i class="fa fa-bars" aria-hidden="true"></i> <b class="mobile-none">&nbsp; Menu</b>
</span>
<span style="width: auto;"><div class="has-search">
    <i class="fa fa-search form-control-feedback"></i>
    <input type="text" name='quick_search' class="ty-search-controll" placeholder="Search">

  </div></span>
</div>
</div>


<div class="logo-center">
<h1><a href="{% url 'home:home' %}">{{"menu"|show_logo}}  </a></h1>
</div>
<div class="searchiconb"><span>
 {% if user.username %}
  <a href="{% url 'my_videos:my_videos' %}" class="item">{{user.username}}</a>
 {% endif %}
</span></div>
<div class="rightsidebox">
<ul>


  {% if user.username == ""  %}
<li><a href="{% url 'account:login' %}">Register/ Log In</a></li>

{% else %}


<li><a href="{% url 'my_videos:my_videos' %}">{{user.username}}</a></li>



{% endif %}
<li><a href="{% url 'videos:add_videos' %}" class="active">Submit Your Video</a></li>
<!-- {% if user.username == '' %}
           <li><a href="{% url 'videos:add_videos' %}" class="active">Submit Your Video</a></li>
            {% else %}
{% if user|user_type|lower == 'performer' %}
<li><a href="{% url 'videos:add_videos' %}" class="active">Submit Your Video</a></li>
{% else %}

<li><a href="{% url 'search:search' %}" class="active">Rate Now</a></li>
{% endif %}
{% endif %} -->
</ul>
</div>

</div>

{% block content %}

{% endblock %}



<footer>
<div class="container">
<div class="row">
<div class="col-md-6">
<p>The <strong class="appbox" style="color:#50c5b6;">{{"menu"|show_project_title}} </strong>for video, creativity and innovation on the internet</p>
<ul>


{{"dummt_data"|get_page_link}}
<li><a href="{% url 'subscription:subscription' %}">Subscription</a></li>
</ul>
<div class="follows">Follow Us On
{{"dummt_data"|get_social_link}}
</div>
</div>

<div class="col-md-6 text-right">
<p>New Videos updated by <strong style="color:#50c5b6;">{{"test"|get_last_uploaded_vido_by}}</strong> On <strong>{{"test"|get_last_uploaded_vido_on}}</strong> </p>

<a href="{% url 'videos:add_videos' %}"><button type="button" class="btn_upload" style="width: 229px;">Submit Your Video</button></a>
<!-- {% if user.username == '' %}
           <a href="{% url 'videos:add_videos' %}" class="submit_btn">Submit Your Video</a>
            {% else %}
{% if user|user_type|lower == 'performer' %}
<a href="{% url 'videos:add_videos' %}"><button type="button">Submit Your Video</button></a>
{% else %}

<a href="{% url 'search:search' %}" ><button type="button">Rate Now</button></a>
{% endif %}
{% endif %} -->

</div>

</div>
</div>
</footer>
</div>
<!-- Search Form -->
<div id="search"> 
  <span class="close">X</span>
  <form role="search" id="searchform" action="{% url 'search:search' %}" method="get">
    <input value="" name="keyword" type="search" placeholder="type to search"/>
  </form>
</div>

 <script src='{% static "web/js/jquery.min.js" %}' ></script>
  <script src='{% static "web/js/bootstrap.min.js" %}' ></script>
  <script src='{% static "web/js/intlTelInput.min.js" %}' ></script>
  <script src='{% static "web/js/circle-progress.js" %}' ></script>
  <script  src='{% static "web/js/script.js" %}' ></script>
   <script src='{% static "web/cropme/croppie.js" %}' ></script>
   <script src='{% static "web/js/jquery.ui.widget.min.js" %}' ></script>
   <script src='{% static "web/js/jquery.marcopolo.js" %}' ></script>
  
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>


<script type="text/javascript">

$('.scrollTo').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
});




$(document).ready(function(){
  $("input[name='quick_search']").marcoPolo({

url:"{% url 'search:search_item' %}",
formatItem: function(data,$item){
  var get_text = data.Videos_Title;
  if(data.Videos_Title.length>20)
  {
     get_text = data.Videos_Title.substring(0, 20)+"...";
  }
return get_text;

},
minChars: 3,
onSelect: function (data, $item) {

//url: 'Search/set_date/'+data.sno,
// console.log(data.Videos_Slug);
window.location = "{% url 'search:search' %}?keyword="+data.Videos_Slug;


}


});

});
</script>


<script id="rendered-js">

$(document).ready(function() {
  $('#summernote').summernote({
        placeholder: 'Description',
        tabsize: 2,
        height: 200
      });
});

$(document).ready(function(){
  $(".reply_btn").click(function(){
    $(".replybox").css("display", "table");
  $(".btn_cenclb").show();
  });
  
  $(".btn_cenclb").click(function(){
    $(".replybox").hide();
  $(".btn_cenclb").hide();
  });
  
});


var rangeSlider = function(){
  var slider = $('.range-slider'),
      range = $('.range-slider__range'),
      value = $('.range-slider__value');
    
  slider.each(function(){

    value.each(function(){
      var value = $(this).prev().attr('value');
      $(this).html(value);
    });

    range.on('input', function(){
      $(this).next(value).html(this.value);
    });
  });
};

rangeSlider();


$(document).ready(function ($) {
    function animateElements() {
        $('.progressbar').each(function () {
            var elementPos = $(this).offset().top;
            var topOfWindow = $(window).scrollTop();
            var percent = $(this).find('.circle').attr('data-percent');
            var animate = $(this).data('animate');
            if (elementPos < topOfWindow + $(window).height() - 30 && !animate) {
                $(this).data('animate', true);
                $(this).find('.circle').circleProgress({
                    // startAngle: -Math.PI / 2,
                    value: percent / 100,
                    size : 75,
                    thickness: 2,
                    fill: {
                        color: '#663399'
                    }
                }).on('circle-animation-progress', function (event, progress, stepValue) {
                    $(this).find('strong').text((stepValue*100).toFixed(0) + "");
                }).stop();
            }
        });
    }

    animateElements();
    $(window).scroll(animateElements);
});




function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
      $('#imagePreview').hide();
      $('#imagePreview').fadeIn(650);
    };
    reader.readAsDataURL(input.files[0]);
  }
}
$("#imageUpload").change(function () {
  readURL(this);
});
//# sourceURL=pen.js
    </script>
  
  
<script>
$(function() {
  var Accordion = function(el, multiple) {
    this.el = el || {};
    this.multiple = multiple || false;

    // Variables privadas
    var links = this.el.find('.link');
    // Evento
    links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
  }

  Accordion.prototype.dropdown = function(e) {
    var $el = e.data.el;
      $this = $(this),
      $next = $this.next();

    $next.slideToggle();
    $this.parent().toggleClass('open');

    if (!e.data.multiple) {
      $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
    };
  } 

  var accordion = new Accordion($('#accordion'), false);
});


$(document).ready(function(){



    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });
    
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");



$(".js-nav-main").click(function(){
    $("body").addClass("nav-sidebar-open");
  });
  $(".js-close-menu").click(function(){
    $("body").removeClass("nav-sidebar-open");
  });
  
  



  $('a[href="#search"]').on('click', function(event) {                    
    $('#search').addClass('open');
    $('#search > form > input[type="search"]').focus();
  });            
  $('#search, #search button.close').on('click keyup', function(event) {
    if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
      $(this).removeClass('open');
    }
  });            
});




</script>
 <script type="text/javascript">
  function doSomething() {
    $(".se-pre-con").css("display","block");
}
  </script>

<script type="text/javascript">
  $(document).ready(function(){
    setInterval(function(){ 
   
    $.ajax({
      method:"GET",
      url:"{% url 'home:send_mail' %}",
      dataType:"html",
      success:function(data){
        console.log(data);
      }
    });  
     }, 10000);
  });

</script>


      {% block script %}
      {% endblock %}

</body>
</html>