
{% extends 'web/base_template.html' %}
{% block content %}
{% load static %}
<section class="login_bg">
  <div class="loginAG">
  <div class="login_width">
  <div class="leftside-login">
 


<span>
  <img src='{% static "web/images/cricle-box.jpg" %}'  alt="">
  </span>
  <div class="login-logo">
  <h1><a href="{% url 'home:home' %}">{{"menu"|show_project_title}}</span></a></h1>
  </div>

  

  
  </div>

  <div class="rightside" style="text-align: center;">

   <p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'account:login' %}">Login Now</a> now.</p>
  </div>
</form>
  </div>
  </div>
  </section>

  {% endblock %}
